.infoContainer {
  padding-top: 2rem;
  min-height: 100dvh;
  min-width: 100dvw;
  place-self: center;
}

.pageContainer {
  background-color: rgb(205, 45, 45);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  place-self: center;

  @media (max-width: 390px) {
    padding: 0.5rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.button {
  background-color: white;
  color: rgb(205, 45, 45);
  max-width: fit-content;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 0 1rem;
}

.backButton {
  background-color: rgb(205, 45, 45);
  color: white;
  margin-top: 1rem !important;
}

.pokedexImage {
  position: absolute;
  opacity: 0.2;
  right: 10%;
  @media (max-width: 640px) {
    right: 1%;
  }
}
