.cont_list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: lightskyblue;
  border-radius: 30px;
  margin: 20px 50px;
}

.cont_search {
  display: grid;
  grid-template-columns: 27% 45% 5%;
  border-radius: 20px;
  margin: 20px 50px;
  font-family: "Flexo-Demi", arial, sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.search_title {
  width: 100%;
  border-right: none;
  padding: 5px 0 8px;
  height: 20px;
}

.search_input {
  width: 100%;
  border: 3px solid lightskyblue;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.search_input:focus {
  border-color: rgb(35, 160, 230);
}

.search_button {
  width: 100%;
  height: 36px;
  border: 1px solid lightskyblue;
  background: lightskyblue;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search_button:hover {
  background-color: rgb(35, 160, 230);
}

.cont_link {
  margin: 45px;
  color: inherit;
  width: 270px;
  height: 350px;
  border-radius: 10px;
}

@keyframes colorChange {
  from {
    background-color: lightyellow;
  }
  to {
    background-color: aquamarine;
  }
}

.cont_item {
  border-radius: 10px;
  height: 350px;
  width: 270px;
  background-color: lightyellow;
  margin: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 1px;
}

.cont_item:hover {
  background-color: aquamarine;
  animation-name: colorChange;
  animation-duration: 0.3s;
}

.cont_img {
  margin: 10px 10px 0;
  border-radius: 5px;
  height: 210px;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.cont_number {
  margin-top: 0;
  margin-left: 15px;
  padding: 2px;
  width: 60px;
  height: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cont_info {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: capitalize;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 105%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.cont_name {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: capitalize;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 105%;
}

.cont_types {
  border-radius: 4px;
  padding: 2px;
  display: flex;
  justify-content: center;
  margin: 3px;
}

.cont_button{
  display: flex;
  justify-content: center;
  margin: 15px;
}

.button_load {
  width: 200px;
  height: 36px;
  border: 1px solid lightskyblue;
  background: rgb(0, 110, 170);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
